@import '../Colors/colors.scss';

.table-cell.table-cell {
  &.table-cell--small-width {
    width: 160px;
  }
  &.table-cell--overflow-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
