@import '../Colors/colors.scss';

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-white;
}
.navigation__link-wrapper {
  text-decoration: none;
  color: inherit;
}
.navigation__link {
  color: $color-rhino;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.3s ease;
  &.navigation__link--active,
  &:hover {
    color: $color-persimmon;
  }
}
.navigation__link-icon {
  font-size: 36px;
  line-height: 0;
}
