# IntelliJ / Eclipse
!.idea/
.idea/*
!/.idea/runConfigurations/
*.iml
.settings
.classpath
.project
.factorypath

# Maven
target

tmp
tmp-?

# axoniq.license
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
token.properties

#webpack building
package-lock.json
*/node/
*/node_modules/
*/src/main/resources/static/dist/

#dev running env
dev/node1/**
dev/node2/**
dev/node3/**

data/
**/THIRD-PARTY.properties
/axonserver/cache/
