<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AxonHub: Error</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
</head>
<body>
<article>
    <header>
        <h1>AxonHub</h1>
    </header>
    <div>
    <div class="column configuration">
        <section>
            <ul>
                <li>
                    <span>timestamp</span>
                    <span></span>
                </li>
                <li>
                    <span>error</span>
                    <span th:text="${error}"></span>
                </li>
                <li>
                    <span>status</span>
                    <span th:text="${status}"></span>
                </li>
                <li>
                    <span>message</span>
                    <span th:text="${message}"></span>
                </li>
            </ul>
        </section>
    </div>
    </div>
</article>
<footer>
    <p>AxonHub @project.version@ by <span>AxonIQ</span></p>
</footer>
</body>
</html>