// Using colors from the following set: https://drive.google.com/open?id=0B0Fo4uh9PaqzM0twbjF3V1dueW8
// Names generated via https://www.color-blindness.com/color-name-hue/

// Base colors
$color-white: #ffffff;
$color-black: #000000;
$color-dodger-blue: #0099ff;
$color-persimmon: #f35c00;
$color-yellow: #ffff00;

// Black and gray variations
$color-rhino: #434a56;
$color-cinder: #21252b;

$color-gray-chateau: #a1a4aa;
$color-zumthor: #d0d2d5;
$color-zircon: #e3e4e6;
$color-porcelain: #ecedee;
$color-black-haze: #f5f6f6;

// Gradient colors
$color-cerulean: #006bae;
$color-persian-green: #0da7a5;

$color-safety-orange: #fb6801;
$color-amaranth: #f12548;

$color-dark-orchid-1: #9933cc;
$color-persian-blue: #4919ab;

$color-citrus: #98cc0c;
$color-islamic-green: #009900;

$color-violet-red: #f1258a;
$color-dark-orchid-2: #b133cc;
