<!DOCTYPE HTML>
<html>
<head>
    <title>AxonDashboard: Settings</title>
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"/>-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png"/>-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"/>-->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <!--<script src="js/vue.js"></script>-->
    <script src="dist/build.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/fontawesome-all.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>
    <script language="JavaScript">
        //# sourceURL=index.js
        let globals = {
            authenticationEnabled: true,
            admin: false,
            license: "free",
            features: [],
            hasFeature: function(featureName) {
                    for( let idx = 0; idx < globals.features.length; idx++) {
                        if( globals.features[idx].name === featureName) return globals.features[idx].enabled;
                    }
                    return false;
            },

            webSocketInfo: {
                stompConnected: false,

                stompClient: null,

                getStompClient: function() {
                    if( ! this.stompClient) {
                        console.info("Creating sockjs client: " + document.location.pathname + 'axonserver-platform-websocket')
                        let socket = new SockJS(document.location.pathname + 'axonserver-platform-websocket');
                        this.stompClient = Stomp.over(socket);
                    }
                    return this.stompClient;
                },

                subscribe: function (path, callback, onSubscribe) {
                    let me = globals.webSocketInfo;
                    if (me.stompConnected) {
                        onSubscribe(me.getStompClient().subscribe(path, callback));
                        return;
                    }
                    me.getStompClient().connect({}, function (frame) {
                        me.stompConnected = true;
                        onSubscribe(me.getStompClient().subscribe(path, callback));
                    });
                }
            }
        };

        axios.interceptors.response.use(function (response) {
            return response;
        }, function (error) {
            let errorData = JSON.stringify(error.response.data);
            console.log("Error on " + error.request.url + " " + errorData);
            alert(errorData);
            return Promise.reject(error);
        });

        function addZero(num) {
            if (num < 10) {
                return "0" + num;
            }
            return num;
        }

        Vue.filter('formatDate', function (date) {
            if (date) {
                return date[0] + "-" + addZero(date[1]) + "-" + addZero(date[2]);
            }
        });

        Vue.prototype.hasFeature = globals.hasFeature;

        $(document).ready(function () {

            new Vue({
                        el: '#nav',
                        data: {
                            admin: globals.admin,
                            licenseLoaded: false,
                            license: "free",
                        }, mounted() {
                            axios.get("v1/public/license").then(response => {
                                globals.license = response.data.edition.toLowerCase();
                                globals.features = response.data.featureList;
                                this.licenseLoaded = true;
                                axios.get("v1/public/me").then(response => {
                                    globals.authenticationEnabled = response.data.authentication;
                                    globals.admin = !globals.authenticationEnabled;
                                    this.admin = globals.admin;
                                    if (globals.authenticationEnabled) {
                                        axios.get("v1/public/user").then(
                                                response => {
                                                    globals.admin = response.data.roles && response.data.roles.includes('ADMIN');
                                                    this.admin = globals.admin;
                                                    loadFragment();
                                                });

                                    } else {
                                        loadFragment();
                                    }
                                });
                            });
                }, methods: {
                        }
                    });

            $.ajaxPrefilter(function (options, original_Options, jqXHR) {
                options.async = true;
            });

            $(window).on('hashchange', function () {
                console.info(window.location.hash);
                loadFragment();
            });

            axios.get("v1/public/pages").then(response => {
                response.data.forEach(page => {
                    $("nav").append($("<a/>")
                                            .attr("href", "#" + page.url)
                                            .attr("class", "menu-" + page.url)
                                            .append($("<i/>").attr("class", "fas fa-cog fa-2x"))
                                            .append(page.title));
                })
            });



        });

        function loadFragment() {
            route = location.hash.slice(1) || 'settings';
            $("nav a").removeClass("current");
            $("nav a.menu-" + route).addClass("current");
            if (globals.pageView) {
                globals.pageView.$destroy();
                globals.pageView = null;
            }
            $("#pageContent").load(route + ".html", function () {
                document.title = "AxonDashboard: " + route
            });
        }
    </script>

</head>
<body>
<nav id="nav">
    <span v-if="licenseLoaded"/>
    <a href="#" class="menu-settings current"><i class="fas fa-cog fa-2x"></i>Settings</a>
    <a href="#overview" class="menu-overview" v-if="hasFeature('APPLICATION_OVERVIEW')"><i class="fas fa-eye fa-2x"></i>Overview</a>
    <a href="#query" class="menu-query" v-if="hasFeature('AD_HOC_QUERIES')"><i class="fas fa-search fa-2x"></i>Search</a>
    <a href="#commands" class="menu-commands" v-if="hasFeature('BASIC_APP_MONITORING')"><i class="fas fa-exclamation-circle fa-2x"></i>Commands</a>
    <a href="#queries" class="menu-queries" v-if="hasFeature('BASIC_APP_MONITORING')"><i class="fas fa-question-circle fa-2x"></i>Queries</a>
    <a href="#applications" class="menu-applications" v-if="admin && hasFeature('APP_AUTHENTICATION')"><i
            class="fas fa-window-restore fa-2x"></i>Apps</a>
    <a href="#users" class="menu-users" v-if="admin"><i class="fas fa-users fa-2x"></i> Users</a>
    <a href="#context" class="menu-context" v-if="admin && hasFeature('MULTI_CONTEXT')"><i class="fas fa-sitemap fa-2x"></i> Contexts</a>
    <a href="#load-balancing" class="menu-load-balancing" v-if="admin && hasFeature('AUTOMATIC_TRACKING_PROCESSOR_SCALING_BALANCING')"><i class="fas fa-balance-scale fa-2x"></i> LoadBalance</a>
</nav>


<article>
    <header>
        <h1>AxonDashboard</h1>
    </header>

    <span id="pageContent">
            </span>
</article>

<footer>
    <p>AxonDashboard @project.version@ by <span>AxonIQ</span></p>
</footer>
</body>
</html>