@import '../Colors/colors.scss';

.search-input__wrapper {
  display: flex;
  align-items: center;
}
.search-input__icon {
  margin-right: 15px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-rhino;
  font-size: 28px;
}
.search-input {
  color: inherit;
  width: 100%;
  font-size: 18px;
}
.search-input__input {
  width: 100%;
}
